.custom-dialog-container .mat-mdc-dialog-content{
  min-width: 300px;
  min-height: 200px;
  max-width: 850px;
  max-height: 488px;
  overflow: scroll;
  overflow-x: hidden;
  margin: 20px 10px 20px 24px;
  padding: 0 !important;
}
